repos:
  - repo: local
    hooks:
      - id: helm-lint
        name: Helm Chart Lint
        entry: make lint
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
